body {
  font-family: sans-serif;
}

/** 全インプットボックスのスタイル指定 */
input {
  border-radius: 16px;
  border: none; /** noneでボックスの枠線を消す */
  padding: 6px 16px; /** 上下 左右 の内側の空白スペース */
  outline: none; /** クリックした時の線を非表示 */
}

/** 全ボタンのスタイル指定 */
button {
  border-radius: 16px;
  border: none; /** noneでボックスの枠線を消す */
  padding: 4px 16px;
}

/** 全ボタンにマウスオーバーした時のスタイル指定 */
button:hover {
  background-color: #ff7fff;
  color: #fff; /** 文字色 */
  cursor: pointer; /** カーソルの形を変更 */
}

/** Pタグだけのスタイル */
p {
  margin: 6px;
  margin-right: 8px;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  padding: 8px; /** 外枠の内側の空白スペース */
  margin: 8px; /** 外枠の外側の空白スペース */
  border-radius: 8px; /** かどの丸み調整*/
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px; /** 最小限の高さ設定（どのくらい高さが必要か不明なので*/
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #e2e21e;
  width: 400px;
  min-height: 200px; /** 最小限の高さ設定*/
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center; /** 文字のセンタリング */
  margin-top: 0; /** pタグのマージンを上書き */
  font-weight: bold; /** 文字を太字へ */
  color: #666;
}

.list-row {
  display: flex; /** flexボックスで整列 */
  align-items: center; /** 整列したものの上下のセンタリングを行う */
}
